*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --PaleViolet :hsl(276, 100%, 81%);
  --ModerateViolet :hsl(276, 55%, 52%);
  --DesaturatedDarkViolet : hsl(271, 15%, 43%);
--GrayishBlue: hsl(206, 6%, 79%);
--VeryDarkDesaturatedViolet : hsl(271, 36%, 24%);
--DarkGrayishViolet: hsl(270, 7%, 64%);
--LightMagenta: hsl(293, 100%, 63%);
--LightViolet: hsl(264, 100%, 61%);
--White: hsl(0, 0%, 100%);
--LightGrayishViolet : hsl(270, 20%, 96%);
--VeryDarkDesaturatedViolet : hsl(271, 36%, 24%);
--VeryLightMagenta : hsl(289, 100%, 72%);
}
.container{
  width: 100%;
  height: 100vh;
 font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  /* background-color: black; */
}
.show{
  width:100%;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
 gap: 120px;

}
.screen{
width: 270px;
border-radius: 30px;
background-color: white;
padding-top: 12px;
padding-bottom:  12px;
padding-right:  14px;
padding-left: 10px ;
box-shadow: 25px 25px 25px rgba(0, 0, 0,0.1);

}
.chats{
  padding: 12px;
}
.camera{
  background-color: var(--White);
  width: 130px;
  height: 20px;
  margin: 0 auto;
  border-radius: 0 0 25px 25px;
}
.head{
width:250px;
  background: linear-gradient(90deg,var(--LightViolet),var(--LightMagenta));
  border-radius: 25px 25px 10px 10px;
  color: var(--White);
}
.person{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
}
.left-part{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 13px;
  color: var(--LightGrayishViolet);
  font-weight: 500;
}
.left-part p{
  font-size: 10px;
  color: var(--GrayishBlue);
}
.person .left-part img{
  width: 25px;
  border-radius: 50%;
  border: 2px solid white;
}

.chats{
  padding: 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.full-screen{
 background-color: var(--LightGrayishViolet);
 width: 250px;
  border-radius: 25px 25px 20px 20px; 
}

.left-msg{
  background-color:lightgray ;
  width: 150px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px 10px 10px 5px;
  font-size: 9px;
  color: var(--ModerateViolet);
  font-weight: 400;
  line-height: 10px;
}
.right-msg{
   padding: 10px;
  margin-top: -2px;
  margin-bottom: 8px;
  background-color: var(--White);
   border-radius: 10px 10px 5px 10px;
   font-size: 9px;
    /* width: 60%; */
   /* display: flex;
   align-items: flex-end; */
   color:var(--DesaturatedDarkViolet);
  font-weight: 400;

}
.right-imgs{
  display: flex;
  gap: 5px;
}
.right-imgs img{
  width: 35px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.right{
  width: 100%;
  display: flex;
  justify-content:flex-end;
}
.payment{
display: flex;
font-size: 10px;
gap: 7px;
color: var(--GrayishBlue);
}
.select{
  display: flex;
  background: linear-gradient(45deg,var(--LightMagenta),var(--LightViolet));
  width: 80%;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 10px 14px 8px 5px;
  border-radius: 10px 10px 10px 5px;
  color: white;
  font-weight: 500;
  font-size: 15px;
}
.input{
  width: 100%;
  background-color: var(--White);
   padding: 8px 15px 5px 9px;
   display: flex;
   /* justify-content: space-between; */
   margin-top: 15px;
   border-radius: 30px;
}
.input input{
  border: none;
  background: none;
  color: var(--GrayishBlue);
  font-size: 10px;
  outline: none;
  width: 100%;
}
.input input::placeholder{
  color: var(--GrayishBlue);
}
.input button{
  border: none;
  font-size: 18px;
  background-color: var(--VeryDarkDesaturatedViolet);
  color: white;
  width: 25px;
  height: 100%;
  padding-top: 2px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 2px;
  border-radius: 20px;
}

 .purple{
  width: 420px;
  height:90%;
  background: linear-gradient(180deg, var(--LightMagenta), var(--LightViolet));
  z-index: -1;
  position: absolute;
 border-radius: 0px 0px 1000px 1000px;
 left: -100px;
 top: 0;
 }
 .grey{
   width: 420px;
  height:90%;
  background: var(--LightGrayishViolet);
  z-index: -1;
  position: absolute;
 border-radius: 1000px 1000px 0px 0px;
 right: -120px;
 bottom: 0;
 }

 .booking h1{
  font-size: 40px;
  color: var(--VeryDarkDesaturatedViolet);
  margin-bottom: 15px;
  font-weight: 600;
 }
 .booking p{
  font-size: 16px;
  color: var(--DarkGrayishViolet);
  line-height: 24px;
 }

 @media screen and (max-width:500px ) {
 
  body,html{
    height: 130%;
  }
  .container{
    height: 100%;
  }
 
  .purple{
  width: 60%;
  height:50%;
  background: linear-gradient(180deg, var(--LightMagenta), var(--LightViolet));
  z-index: -1;
  position: absolute;
 border-radius: 0px 0px 1000px 0px;
 left: -100px;
 top: 0;
 }
 .grey{
  width: 60%;
  height:55%;
  background: var(--LightGrayishViolet);
  z-index: -1;
  position: absolute;
 border-radius: 1000px 00px 0px 0px;
 right: -100px;
 bottom: 0;
 }
 .show{
  display: flex;
  flex-direction: column;
  width: 80%;
 }


 .booking h1{
  text-align: center;
 }
 .booking p{
  text-align: center;
  font-size: 14px;
 }

 }
@media screen and (max-width:425px ) {
body,html{
 height: 135%;
}
  .purple{
  width: 90%;
  height:50%;
  background: linear-gradient(180deg, var(--LightMagenta), var(--LightViolet));
  z-index: -1;
  position: absolute;
 border-radius: 0px 0px 1000px 00px;
 left: -190px;
 top: 0;
 }
 .grey{
  width: 90%;
  height:60%;
  background: var(--LightGrayishViolet);
  z-index: -1;
  position: absolute;
border-radius: 1000px 00px 0px 0px;
 right: -190px;
 bottom: 0;
 }
}
@media screen and (max-width:320px ){
  .screen{
width: 250px;
}

.full-screen{
  width: 230px;
}
.head{
width:100%;
}
 .purple{
  width: 250px;
  height:50%;
  background: linear-gradient(180deg, var(--LightMagenta), var(--LightViolet));
  z-index: -1;
  position: absolute;
 border-radius: 0px 0px 1000px 00px;
 left: -100px;
 top: 0;
 }
 .grey{
  width: 250px;
  height:55%;
  background: var(--LightGrayishViolet);
  z-index: -1;
  position: absolute;
 border-radius: 1000px 00px 0px 0px;
 right:-80px;
 bottom: 0;
 }
 .booking h1{
  font-size: 32px;
  color: var(--VeryDarkDesaturatedViolet);
  margin-bottom: 15px;
  font-weight: 600;
 }
 .booking p{
  font-size: 14px;
  color: var(--DarkGrayishViolet);
  line-height: 24px;
 }
} 
